
<form method="post" action="/articles" >

  Article Title: <input type="text" id="article_title" name="title" />

  Article Content: <br />
  <textarea id="article_content"name="content" rows="8" cols="80"></textarea>

  <input type="submit" value="Submit"  />
</form>
